<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3">
              <h1 style="font-size: xx-large; font-weight: bold;">Ustawienia</h1>
            </div>
            <div class="col-9">
              <!-- Navigation buttons -->
              <div class="btn-group pull-right" role="group">
                <button class="btn btn-primary" (click)="menuToggle(0)">Profil</button>
                <button class="btn btn-primary" (click)="menuToggle(1)">Nauka</button>
                <button class="btn btn-primary" (click)="menuToggle(2)">Hasło</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img src="assets/UserDefaultLogo.jpg" class="card-img mb-2" alt="User Photo">
              <button class="btn btn-primary btn-block ml-2" (click)="navigateToAccountProfile()">Zobacz profil</button>
            </div>
            <div class="col-9">
              <!-- Profile Tab -->
              <div *ngIf="profileTabActive">
                <form [formGroup]="accountForm" (ngSubmit)="submitAccountForm()">
                  <!-- First Name -->
                  <div class="form-group">
                    <label for="firstName">Imię</label>
                    <input id="firstName" class="form-control" type="text" formControlName="firstName" placeholder="Imię"
                           [ngClass]="{'is-invalid': accountForm.get('firstName').errors && accountForm.get('firstName').touched}"
                           [disabled]="isBusy">
                    <div class="invalid-feedback"
                         *ngIf="accountForm.get('firstName').touched && accountForm.get('firstName').hasError('maxlength')">
                      Maksymalna ilość znaków to 64
                    </div>
                  </div>
                  <!-- Last Name -->
                  <div class="form-group">
                    <label for="lastName">Nazwisko</label>
                    <input id="lastName" class="form-control" formControlName="lastName" placeholder="Nazwisko" type="text"
                           [ngClass]="{'is-invalid': accountForm.get('lastName').errors && accountForm.get('lastName').touched}"
                           [disabled]="isBusy">
                    <div class="invalid-feedback"
                         *ngIf="accountForm.get('lastName').touched && accountForm.get('lastName').hasError('maxlength')">
                      Maksymalna ilość znaków to 64
                    </div>
                  </div>
                  <!-- Display Name -->
                  <div class="form-group">
                    <label for="displayName">Nazwa wyświetlana profilu</label>
                    <input id="displayName" class="form-control" formControlName="displayName" placeholder="Nazwa wyświetlana" type="text"
                           [ngClass]="{'is-invalid': accountForm.get('displayName').errors && accountForm.get('displayName').touched}" [disabled]="isBusy">
                    <div class="invalid-feedback"
                         *ngIf="accountForm.get('displayName').touched && accountForm.get('displayName').hasError('maxlength')">
                      Maksymalna ilość znaków to 64
                    </div>
                    <div class="invalid-feedback"
                         *ngIf="accountForm.get('displayName').touched && accountForm.get('displayName').hasError('required')">
                      Pole jest wymagane
                    </div>
                  </div>
                  <!-- City -->
                  <div class="form-group">
                    <label for="city">Miasto</label>
                    <input id="city" class="form-control" formControlName="city" placeholder="Miasto" type="text"
                           [ngClass]="{'is-invalid': accountForm.get('city').errors && accountForm.get('city').touched}" [disabled]="isBusy">
                    <div class="invalid-feedback"
                         *ngIf="accountForm.get('city').touched && accountForm.get('city').hasError('maxlength')">
                      Maksymalna ilość znaków to 64
                    </div>
                  </div>
                  <!-- Country -->
                  <div class="form-group">
                    <label for="country">Kraj</label>
                    <input id="country" class="form-control" formControlName="country" placeholder="Kraj" type="text"
                           [ngClass]="{'is-invalid': accountForm.get('country').errors && accountForm.get('country').touched}" [disabled]="isBusy">
                    <div class="invalid-feedback"
                         *ngIf="accountForm.get('country').touched && accountForm.get('country').hasError('maxlength')">
                      Maksymalna ilość znaków to 64
                    </div>
                  </div>
                  <!-- Submit button -->
                  <button class="btn btn-primary btn-success" type="submit"
                          [disabled]="!accountForm.valid || !accountForm.dirty || isBusy">Zapisz</button>
                </form>
              </div>
              <!-- Learning Tab -->
              <div *ngIf="learningTabActive">
                <form [formGroup]="learningForm" (ngSubmit)="submitAccountForm()">
                  <!-- Number of flashcards in learning session -->
                  <div class="form-group">
                    <label for="flashcardsInLearningSession">Ilość słów w każdej sesji nauki</label>
                    <input id="flashcardsInLearningSession" class="form-control" min="5" max="30" [disabled]="isBusy"
                           formControlName="flashcardsInLearningSession" placeholder="Ilość słów w sesji nauki" type="number"
                           [ngClass]="{'is-invalid': learningForm.get('flashcardsInLearningSession').errors &&
                              learningForm.get('flashcardsInLearningSession').touched}">
                    <div class="invalid-feedback"
                         *ngIf="learningForm.get('flashcardsInLearningSession').touched &&
                            learningForm.get('flashcardsInLearningSession').hasError('max')">
                      Maksymalna ilość słów w lekcji to 30
                    </div>
                    <div class="invalid-feedback"
                         *ngIf="learningForm.get('flashcardsInLearningSession').touched &&
                            learningForm.get('flashcardsInLearningSession').hasError('min')">
                      Minimalna ilość słów w lekcji to 5
                    </div>
                  </div>
                  <!-- Number of flashcards in revision session -->
                  <div class="form-group">
                    <label for="flashcardsInRevisionSession">Ilość słów w każdej sesji powtórki</label>
                    <input id="flashcardsInRevisionSession" class="form-control" min="5" max="50" [disabled]="isBusy"
                           formControlName="flashcardsInRevisionSession" placeholder="Ilość słów w sesji powtórkowej" type="number"
                           [ngClass]="{'is-invalid': learningForm.get('flashcardsInRevisionSession').errors &&
                              learningForm.get('flashcardsInRevisionSession').touched}">
                    <div class="invalid-feedback"
                         *ngIf="learningForm.get('flashcardsInRevisionSession').touched &&
                            learningForm.get('flashcardsInRevisionSession').hasError('max')">
                      Maksymalna ilość słów w powtórce to 50
                    </div>
                    <div class="invalid-feedback"
                         *ngIf="learningForm.get('flashcardsInRevisionSession').touched &&
                            learningForm.get('flashcardsInRevisionSession').hasError('min')">
                      Minimalna ilość słów w lekcji to 5
                    </div>
                  </div>
                  <!-- Submit button -->
                  <button class="btn btn-primary btn-success" type="submit"
                          [disabled]="!learningForm.valid || !learningForm.dirty || isBusy">Zapisz</button>
                </form>
              </div>
              <!-- Change password Tab -->
              <div *ngIf="passwordTabActive">
                <form [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm()">
                  <!-- Old Password -->
                  <div class="form-group">
                    <label for="oldPassword">Stare hasło</label>
                    <input id="oldPassword" class="form-control" formControlName="oldPassword"
                           placeholder="Stare hasło" type="password"
                           [ngClass]="{'is-invalid': passwordForm.get('oldPassword').errors &&
                              passwordForm.get('oldPassword').touched}" [disabled]="isBusy">
                    <div class="invalid-feedback" *ngIf="passwordForm.get('oldPassword').touched &&
                            passwordForm.get('oldPassword').hasError('required')">
                      Pole jest wymagane
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordForm.get('oldPassword').touched &&
                            passwordForm.get('oldPassword').hasError('minlength')">
                      Minimalna ilość znaków to 4
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordForm.get('oldPassword').touched &&
                            passwordForm.get('oldPassword').hasError('maxlength')">
                      Maksymalna ilość znaków to 32
                    </div>
                  </div>
                  <!-- New Password -->
                  <div class="form-group">
                    <label for="newPassword">Nowe hasło</label>
                    <input id="newPassword" class="form-control" formControlName="newPassword"
                           placeholder="Nowe hasło" type="password"
                           [ngClass]="{'is-invalid': passwordForm.get('newPassword').errors &&
                              passwordForm.get('newPassword').touched}" [disabled]="isBusy">
                    <div class="invalid-feedback" *ngIf="passwordForm.get('newPassword').touched &&
                            passwordForm.get('newPassword').hasError('required')">
                      Pole jest wymagane
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordForm.get('newPassword').touched &&
                            passwordForm.get('newPassword').hasError('minlength')">
                      Minimalna ilość znaków to 4
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordForm.get('newPassword').touched &&
                            passwordForm.get('newPassword').hasError('maxlength')">
                      Maksymalna ilość znaków to 32
                    </div>
                  </div>
                  <!-- New Password Confirmation -->
                  <div class="form-group">
                    <label for="newPasswordConfirm">Powierdź nowe hasło</label>
                    <input id="newPasswordConfirm" class="form-control" formControlName="newPasswordConfirm"
                           placeholder="Potwierdź nowe hasło" type="password"
                           [ngClass]="{'is-invalid': passwordForm.get('newPasswordConfirm').errors &&
                              passwordForm.get('newPasswordConfirm').touched}" [disabled]="isBusy">
                    <div class="invalid-feedback" *ngIf="passwordForm.get('newPasswordConfirm').touched &&
                            passwordForm.get('newPasswordConfirm').hasError('required')">
                      Pole jest wymagane
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordForm.get('newPasswordConfirm').touched &&
                            passwordForm.get('newPasswordConfirm').hasError('minlength')">
                      Minimalna ilość znaków to 4
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordForm.get('newPasswordConfirm').touched &&
                            passwordForm.get('newPasswordConfirm').hasError('maxlength')">
                      Maksymalna ilość znaków to 32
                    </div>
                    <div class="invalid-feedback" *ngIf="passwordForm.get('newPasswordConfirm').touched &&
                            passwordForm.get('newPasswordConfirm').hasError('mismatch')">
                      Password doesn't match
                    </div>
                  </div>
                  <!-- Submit Button -->
                  <button class="btn btn-primary btn-success" type="submit"
                          [disabled]="!passwordForm.valid || !passwordForm.dirty || isBusy">Zapisz</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
