<div class="container">
  <div class="row mt-3">
    <div class="col-md-5 mx-auto">
      <div class="myform form">
        <!-- Logo -->
        <div class="logo mb-3">
          <div class="col-md-12 text-center">
            <h1 class="logo-text">
              Sign Up
            </h1>
          </div>
        </div>
        <!-- Register Form -->
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" class="form-control" type="email" formControlName="email"
                  [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}">
            <div class="invalid-feedback"
                 *ngIf="registerForm.get('email').touched && registerForm.get('email').hasError('required')">
              Email is required
            </div>
          </div>
          <!-- Display Name -->
          <div class="form-group">
            <label for="displayName">Display Name</label>
            <input id="displayName" class="form-control" type="text" formControlName="displayName"
                  [ngClass]="{'is-invalid': registerForm.get('displayName').errors && registerForm.get('email').touched}">
            <div class="invalid-feedback" *ngIf="registerForm.get('displayName').touched &&
                  registerForm.get('displayName').hasError('required')">
              Display name is required
            </div>
          </div>
          <!-- Password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" class="form-control" type="password" formControlName="password"
                   [ngClass]="{'is-invalid': registerForm.get('password').errors &&
                  registerForm.get('password').touched}">
            <div class="invalid-feedback" *ngIf="registerForm.get('password').touched &&
                  registerForm.get('password').hasError('required')">
              Password is required
            </div>
            <div class="invalid-feedback" *ngIf="registerForm.get('password').touched &&
                  registerForm.get('password').hasError('minlength')">
              Password must be at least 4 characters
            </div>
            <div class="invalid-feedback" *ngIf="registerForm.get('password').touched &&
                  registerForm.get('password').hasError('maxlength')">
              Password cannot exceed 8 characters
            </div>
          </div>
          <!-- Confirm Password -->
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword"
                   [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors &&
                  registerForm.get('confirmPassword').touched}">
            <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').touched &&
                  registerForm.get('confirmPassword').hasError('required')">
              Password confirmation is required
            </div>
            <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').touched &&
                  registerForm.get('confirmPassword').hasError('mismatch')">
              Password doesn't match
            </div>
          </div>
          <!-- Submit Button -->
          <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm" [disabled]="!registerForm.valid">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
