.card-img {
  border-radius: 50%;
  margin: 20px 10px 10px;
}

.btn-menu {
  background-color: transparent;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
}

.dropdown-item {
  cursor: pointer;
}

.course-name {
  cursor: pointer;
}

.course-name:hover {
  transform: scale(1.01, 1.01);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
