<div class="container mt-2">
  <div class="row justify-content-lg-start mb-3">
    <div class="card col-lg-12 d-lg-flex">
      <h1 class="text-center dashboard-header mt-3 mb-3">Ostatnio przerabiane</h1>
    </div>
  </div>
  <div class="row justify-content-lg-center">
    <!-- User Card -->
    <div class="col col-lg-3">
      <div class="card">
        <div class="card-img text-center">
          <i class="fa fa-user-circle fa-5x mt-4 fa-color-logo"></i>
        </div>
        <div class="card-body">
          <h2 class="card-title text-center display-name">{{ currentUser.displayName }}</h2>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-center">
            <a class="card-link user-link" [routerLink]="['/account/profile/'+currentUser.id]">Pokaż profil</a>
          </li>
        </ul>
      </div>

      <div class="card mt-5">
        <div class="text-center">
          <img class="card-img my-card-img" src="assets/FlashcardsTool.png" alt="Flashcard Tool Logo">
        </div>
        <div class="card-body">
          <h2 class="text-center">Utwórz swój własny kurs!</h2>
          <button class="btn btn-primary btn-block text-center"
                  (click)="navigateToCourseGen()">Uruchom generator
          </button>
        </div>
      </div>
    </div>

    <!-- Courses List -->
    <div class="col col-lg-9" *ngIf="subscribedCourses.length > 0">
      <div *ngFor="let subscribedCourseShort of subscribedCourses" class="row ml-2 mb-3">
        <app-sub-course-card [course]="subscribedCourseShort"
                             (unsubscribeCourse)="unsubscribeCourse($event)"></app-sub-course-card>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <pagination [boundaryLinks]="true"
                    [totalItems]="pagination.totalItems"
                    [itemsPerPage]="pagination.itemsPerPage"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;"
                    firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
    <div class="col col-lg-9" *ngIf="subscribedCourses.length == 0">
      <h1>Nie subskrybujesz jeszcze żadnego kursu</h1>
    </div>

  </div>
</div>
