.reactive-icon {
  transform: scale(2.0, 2.0);
  cursor: pointer;
}

.reactive-icon:hover {
  transform: scale(2.5, 2.5);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.learning-level-icon {
  transform: scale(4.0, 4.0);
}

.speaker-icon {
  margin-left: 120px;
}

.word-guessed-bg {
  background-color: indianred;
}

.word-not-guessed-bg {
  background-color: limegreen;
}

.reactive-show-more:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.hard-word-not-marked {
  color: gray;
}

.hard-word-marked {
  color: #dede40;
}

.ignore-not-marked {
  color: gray;
}

.ignore-marked {
  color: firebrick;
}

