.star-default {
  transform: scale(1.6, 1.6);
  cursor: pointer;
}

.ignore-default {
  transform: scale(1.6, 1.6);
  cursor: pointer;
}

.fa:hover {
  transform: scale(2.0, 2.0);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.star-not-marked {
  color: gray;
}

.star-marked {
  color: #dede40;
}

.ignore-not-marked {
  color: gray;
}

.ignore-marked {
  color: firebrick;
}

.scale-hover {
  cursor: pointer;
}

.scale-hover:hover {
  transform: scale(1.05, 1.1);
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}
