<div class="container mt-3">
  <!-- Lesson info card -->
  <div class="card d-flex">
    <div class="card-body">
      <div class="col-10 pull-left">
        <h1 class="card-title">{{ lessonDetailed.name }}</h1>
        <hr>
        <h3>{{ lessonDetailed.description }}</h3>
      </div>
      <div class="col-2 pull-right">
        <h2 class="text-center mb-0">Autor</h2>
        <h3 class="text-center"><a href="#">Użytkownik1</a> </h3>
        <button type="button" class="btn btn-primary btn-success">Pokaż wszystkie</button>
      </div>
    </div>
  </div>
  <!-- Progress info card -->
  <div class="row justify-content-center mt-4">
    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <h2 style="font-weight: bold;" class="mb-0">Poziom 1</h2>
          <hr class="mt-1">
          <h1 class="card-title">{{ lessonDetailed.name }}</h1>
          <div class="progress mb-4 mt-0">
            <div class="progress-bar progress-bar-striped" role="progressbar"
                 [ngStyle]="{width: countOverallLessonProgress()+'%'}"></div>
          </div>
          <div class="pull-right" *ngIf="isSubscribed">
            <button type="button" class="btn btn-primary btn-success">Rozpocznij nauke</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Flashcards table -->
  <div class="row justify-content-center mt-2">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          <h2 style="font-weight: bold;" class="mt-0 mb-0">Fiszki - {{ lessonDetailed.flashcards.length }}</h2>
        </div>
        <h1 class="text-center mt-2" *ngIf="lessonDetailed.flashcards.length == 0">Nie utworzono żadnych fiszek</h1>
        <table class="table table-hover" *ngIf="lessonDetailed.flashcards.length > 0">
          <tbody>
            <tr *ngFor="let flashcard of lessonDetailed.flashcards">
              <td><h3 class="mt-0 mb-0 ml-3">{{ flashcard.phrase }}</h3></td>
              <td><h3 class="mt-0 mb-0">{{ flashcard.translatedPhrase }}</h3></td>
              <td>
                <div class="progress" style="min-width: 100px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar"
                       [ngStyle]="{width: (flashcard.progress * 10) +'%'}"></div>
                </div>
              </td>
              <td *ngIf="flashcard.isSubscribed">
                <i class="fa fa-star star-default mr-4"
                   (click)="markFlashcardAsHard(flashcard)"
                   [ngClass]="{'star-marked': flashcard.markedAsHard,
                               'star-not-marked': !flashcard.markedAsHard}"></i>
                <i class="fa fa-ban ignore-default"
                   (click)="markFlashcardAsIgnored(flashcard)"
                   [ngClass]="{'ignore-marked': flashcard.markedAsIgnored,
                               'ignore-not-marked': !flashcard.markedAsIgnored}"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
