<div class="container mt-3">
  <!-- Lesson info card -->
  <div class="card d-flex">
    <div class="card-body">
      <div class="col-10 pull-left">
        <h1 class="card-title">{{ lessonDetailed.name }}</h1>
        <div class="progress mb-4 mt-0" *ngIf="isSubscribed">
          <div class="progress-bar progress-bar-striped" role="progressbar"
               [ngStyle]="{width: countOverallLessonProgress()+'%'}"></div>
        </div>
        <hr>
        <h3>{{ lessonDetailed.description }}</h3>
      </div>
      <div class="col-2 pull-right">
        <button type="button" class="btn btn-primary btn-success" style="min-height: 100px;">Rozpocznij nauke</button>
      </div>
    </div>
  </div>
  <!-- Flashcards table -->
  <div class="row justify-content-center mt-2 mb-4">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          <h2 style="font-weight: bold;" class="mt-0 mb-0">Spis słów/wyrażeń - {{ lessonDetailed.flashcards.length }}</h2>
        </div>
        <h1 class="text-center mt-2" *ngIf="lessonDetailed.flashcards.length == 0">Nie utworzono żadnych fiszek</h1>
        <table class="table table-hover" *ngIf="lessonDetailed.flashcards.length > 0">
          <tbody>
            <tr *ngFor="let flashcard of lessonDetailed.flashcards">
              <td><h3 class="mt-0 mb-0 ml-3">{{ flashcard.phrase }}</h3></td>
              <td><h3 class="mt-0 mb-0">{{ flashcard.translatedPhrase }}</h3></td>
              <td>
                <div class="progress" style="min-width: 100px;">
                  <div class="progress-bar progress-bar-striped" role="progressbar"
                       [ngStyle]="{width: (flashcard.progress * 10) +'%'}"></div>
                </div>
              </td>
              <td *ngIf="flashcard.isSubscribed">
                <i class="fa fa-star star-default mr-4"
                   (click)="markFlashcardAsHard(flashcard)"
                   [ngClass]="{'star-marked': flashcard.markedAsHard,
                               'star-not-marked': !flashcard.markedAsHard}"></i>
                <i class="fa fa-ban ignore-default"
                   (click)="markFlashcardAsIgnored(flashcard)"
                   [ngClass]="{'ignore-marked': flashcard.markedAsIgnored,
                               'ignore-not-marked': !flashcard.markedAsIgnored}"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
