<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-3">
            <img src="assets/CourseDefaultLogo.png" class="card-img" alt="Course Logo">
          </div>
          <div class="col-7">
            <div class="card-body">
              <h1 class="card-title">{{ course.courseName }}</h1>
              <hr>
              <p>{{ course.courseDescription }}</p>
            </div>
          </div>
          <div class="col-2">
            <h3 class="text-center author mt-3 mb-0">Autor</h3>
            <h3 class="text-center"><a href="#">{{ course.accountCreatedDisplayName }}</a></h3>
            <div class="row d-flex justify-content-end mt-5 mr-3">
              <button class="btn btn-primary" *ngIf="isSubscribed" (click)="onLearnContinue()">Kontynuuj naukę</button>
              <button class="btn btn-primary" *ngIf="!isSubscribed" (click)="onSubscribeCourse()">Subskrybuj</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card col-lg-11 mx-auto mt-2">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-10 mb-0">
            <h1>Lekcje</h1>
          </div>
          <div class="col-lg-2 mb-0">
            <div class="dropdown pull-right" dropdown [isAnimated]="true" [autoClose]="true">
              <button class="btn btn-menu" type="button" dropdownToggle>
                <i class="fa fa-ellipsis-v fa-lg"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item">
                  <i class="fa fa-book mr-2"></i>Wyczyść postęp
                </a>
                <a class="dropdown-item" (click)="onUnsubscribeCourse()">
                  <i class="fa fa-book mr-2"></i>Zrezygnuj z kursu
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="mt-0">
        <div class="row">
          <div *ngFor="let lesson of course.lessons" class="col-lg-3 col-md-4 col-sm-6 p-0 mx-auto">
            <app-lesson-card [lesson]="lesson" (lessonSelected)="onLessonSelected($event)"></app-lesson-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
