<div class="container mt-5">
  <div class="row">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-3">
          <img src="assets/CourseDefaultLogo.png" class="card-img" alt="Course Logo">
        </div>
        <div class="col-7">
          <div class="card-body">
            <h1 class="card-title">{{ course.name }}</h1>
            <p>{{ course.description }}</p>
          </div>
        </div>
        <div class="col-2">
          <h3>Autor</h3>
          <p>{{ course.authorDisplayName }}</p>
        </div>
      </div>
    </div>
  </div>
  <h1 class="mt-4">Lekcje</h1>
  <hr>
  <div class="row">
    <div *ngFor="let lesson of course.lessons" class="col-lg-3 col-md-4 col-sm-6">
      <app-lesson-card [lesson]="lesson"></app-lesson-card>
    </div>
  </div>
</div>
