<nav class="navbar navbar-expand-md navbar-dark navbar-static-top bg-dark">
  <a class="navbar-brand" href="#">FlashCards</a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul *ngIf="userIsLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="$router_link-active$">
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/courses']" routerLinkActive="$router_link-active$">
          Courses
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/analytics']" routerLinkActive="$router_link-active$">
          Analytics
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/newCourseTool']" routerLinkActive="$router_link-active$">
          Create course
        </a>
      </li>
    </ul>
    <ul *ngIf="!userIsLoggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div *ngIf="!userIsLoggedIn()" class="nav-item">
      <a class="nav-link text-light" [routerLink]="['/login']">Login</a>
    </div>
    <div *ngIf="userIsLoggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Hello {{ userDisplayName | titlecase }}
      </a>
      <!-- TODO: Menu is cut off on the right side, probably problem with position -->
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <a class="dropdown-item">
          <i class="fa fa-user mr-1"></i>Edit Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <i class="fa fa-sign-out mr-1"></i>Logout
        </a>
      </div>
    </div>
  </div>
</nav>
