<div class="container">
  <nav class="navbar d-flex justify-content-center mx-auto p-0" style="background-color: #3385ff; min-height: 40px; max-width: 1100px;">
    <i class="fa fa-book justified-icon"></i>
    <div class="vertical-divider"></div>
    <h1 class="learning-title" *ngIf="learnMode">Nowe słowa:</h1>
    <h1 class="learning-title" *ngIf="repetitionMode">Powtórka:</h1>
    <h2 class="lesson-name-title" style="max-width: 500px;">{{ lessonName | titlecase }}</h2>
    <div class="progress ml-5">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%; min-width: 100px"
           aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="vertical-divider"></div>
    <i class="fa fa-close reactive-icon ml-4" (click)="quitLearningSession()"></i>
  </nav>
  <div class="d-flex justify-content-center">
    <app-learn-phrase-presentation *ngIf="phrasePresentationComponentActive"
                                   [currentPhrase]="currentFlashcardForPresentation"
                                   (guessResult)="onPhraseGuessedResult($event)"
                                   (showNext)="next()"></app-learn-phrase-presentation>
    <app-learn-phrase-selection *ngIf="phraseSelectionComponentActive"
                                [currentPhrase]="currentFlashcardForSelection"
                                (showNext)="next()"
                                [onCanContinue]="canContinue.asObservable()"
                                (guessResult)="onPhraseGuessedResult($event)"></app-learn-phrase-selection>
    <app-learn-phrase-blocks *ngIf="phraseBlockComponentActive"
                             [currentPhrase]="currentFlashcardForBlocks"
                             [onCanContinue]="canContinue.asObservable()"
                             (guessResult)="onPhraseGuessedResult($event)"
                             (showNext)="next()"></app-learn-phrase-blocks>
    <app-learn-phrase-input *ngIf="phraseInputComponentActive"
                            [currentPhrase]="currentFlashcardForInput"
                            [onCanContinue]="canContinue.asObservable()"
                            (guessResult)="onPhraseGuessedResult($event)"
                            (showNext)="next()"></app-learn-phrase-input>
    <app-learn-start *ngIf="learnStartComponentActive"
                     [flashcardsToLearn]="drawnFlashcards"
                     [learnType]="learnType"
                     (startLearning)="startLearning()"></app-learn-start>
    <app-learn-summary *ngIf="learnSummaryComponentActive"
                       [learnSummary]="learnSummary"
                       (endLearning)="onEndLearning()"></app-learn-summary>
  </div>
<!--  <div class="row d-inline-block mt-5">-->
<!--    <button class="btn btn-primary mr-3" (click)="toggleActiveComponent(1)">Phrase Blocks</button>-->
<!--    <button class="btn btn-primary mr-3" (click)="toggleActiveComponent(3)">Phrase Input</button>-->
<!--    <button class="btn btn-primary mr-3" (click)="toggleActiveComponent(2)">Phrase Selection</button>-->
<!--    <button class="btn btn-primary mr-3" (click)="toggleActiveComponent(0)">Phrase Presentation</button>-->
<!--    <button class="btn btn-primary mr-3" (click)="toggleActiveComponent(4)">Learn start</button>-->
<!--    <button class="btn btn-primary mr-3" (click)="testLearn()">Learn Test</button>-->
<!--    <button class="btn btn-primary mr-3" (click)="testLearnSession()">Learn session</button>-->
<!--  </div>-->
</div>


