<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card p-3 pb-0">
        <h1 class="large-title">Kreator kursów</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="row">
          <div class="col-12">
            <ul class="nav nav-tabs mt-3">
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToCourseSettings()"
                  [ngClass]="{'active': courseSettingsActive }">Ustawienia kursu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToLessons()"
                   [ngClass]="{'active': lessonsActive }">Lekcje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToLessonForm()"
                   [ngClass]="{'active': lessonFormActive }">Nowa lekcja</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="navigateToFlashcards()"
                   [ngClass]="{'active': flashcardsActive, 'disabled': flashcardsTabDisabled }">Słowa</a>
              </li>
            </ul>
          </div>
        </div>
          <app-course-form *ngIf="courseSettingsActive" [course]="getCourse()"
                           [onCourseUpdated]="onCourseUpdated.asObservable()"
                           (courseUpdate)="updateCourse($event)"></app-course-form>
          <app-lesson-form *ngIf="lessonFormActive"
                           (addLesson)="createLesson($event)"></app-lesson-form>
          <app-lesson-list *ngIf="lessonsActive"
                           (lessonClick)="onLessonSelected($event)"
                           (addLesson)="openLessonForm()"
                           [lessons]="lessons"></app-lesson-list>
          <app-flashcard-form *ngIf="flashcardsActive"
                              [lesson]="getSelectedLesson()"
                              (addFlashcard)="createFlashcard($event)"></app-flashcard-form>
      </div>
    </div>
  </div>
</div>
