<div class="container mt-4">
  <div class="row justify-content-center">
    <h1 class="large-title">Course generator tool will be soon!</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="tab-panel">
          <tabset>
            <tab heading="Informacje o kursie">
              <form>
                <div class="row first-row">
                  <div class="col-2">
                    <h2>Nazwa kursu</h2>
                  </div>
                  <div class="col-10">
                    <input id="courseName" class="form-control" type="text" formControlName="courseName"
                           placeholder="Nazwa kursu" style="max-width: 500px;">
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <h2>Opis kursu</h2>
                  </div>
                  <div class="col-10">
                    <textarea name="courseDescription" class="form-control"
                              style="max-width: 500px; max-height: 200px;"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2">
                    <h2>Dostępność</h2>
                  </div>
                  <div class="col-10">
                    <select class="form-control" style="max-width: 500px;">
                      <option>Publiczny</option>
                      <option>Prywatny</option>
                      <option>Wersja robocza</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <button class="btn btn-primary btn-success mr-3" type="button">Zapisz</button>
                  <button class="btn btn-primary btn-info" type="button">Edytuj</button>
                </div>
              </form>
            </tab>
            <tab heading="Lekcje">
              <div>
                <div class="row mt-3">
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <app-lesson-card></app-lesson-card>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <app-lesson-card></app-lesson-card>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <app-lesson-card></app-lesson-card>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <app-lesson-card></app-lesson-card>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <app-lesson-card></app-lesson-card>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Nowa lekcja">
              <div>
                <form>
                  <div class="row first-row">
                    <div class="col-2">
                      <h2>Nazwa lekcji</h2>
                    </div>
                    <div class="col-10">
                      <input class="form-control" type="text" formControlName="courseName"
                             placeholder="Nazwa kursu" style="max-width: 500px;">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <h2>Opis lekcji</h2>
                    </div>
                    <div class="col-10">
                      <textarea class="form-control" style="max-width: 500px; max-height: 200px;"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <h2>Kategoria</h2>
                    </div>
                    <div class="col-10">
                      <select class="form-control" style="max-width: 500px;">
                        <option>Kategoria 1</option>
                        <option>Kategoria 2</option>
                        <option>Kategoria 3</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <button class="btn btn-primary btn-success mr-3" type="button">Zapisz</button>
                    <button class="btn btn-primary btn-info" type="button">Edytuj</button>
                  </div>
                </form>
                <div class="row">
                  <h1>Lista fiszek</h1>
                </div>
                <div class="row justify-content-center mt-2">
                  <div class="col-10">
                    <div class="card">
                      <div class="card-header">
                        Fiszki - 34
                      </div>
                      <table class="table table-hover">
                        <tbody>
                        <tr>
                          <td>Addictive</td>
                          <td>Uzależniający; Inny jakiś</td>
                          <td>
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%"
                                   aria-valuenow="10"
                                   aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <a class="btn btn-primary" role="button">
                    Dodaj nową fiszkę
                  </a>
                  <!--
                    Przycisk ma sterować tym divem poniżej,
                    w sensie nadawać mu klasę collapse lub nie (zrobić jako toggle)
                  -->
                </div>
                <div class="row justify-content-center">
                  <div class="col-10">
                    <div class="card card-body">
                      <form>
                        <div class="row">
                          <div class="col-6">
                            <h1 class="text-center">Angielski</h1>
                            <div class="form-group">
                              <label>Słowo/wyrażenie</label>
                              <input class="form-control" type="email" placeholder="Wprowadź słowo">
                            </div>
                            <div class="form-group">
                              <label>Wymowa</label>
                              <input class="form-control" type="email" placeholder="Wprowadź wymowę słowa/wyrażenia">
                            </div>
                            <div class="form-group">
                              <label>Przykładowe zdanie</label>
                              <input class="form-control" type="email" placeholder="Wprowadź przykładowe zdanie">
                            </div>
                            <div class="form-group">
                              <label>Komentarz</label>
                              <input class="form-control" type="email" placeholder="Wprowadź komentarz">
                            </div>
                          </div>
                          <div class="col-6">
                            <h1 class="text-center">Polski</h1>
                            <div class="form-group">
                              <label>Przetłumaczone słowo/wyrażenie</label>
                              <input class="form-control" type="email"
                                     placeholder="Wprowadź przetłumaczone słowo/wyrażenie">
                            </div>
                            <div class="form-group">
                              <label>Przykładowe zdanie (tłumaczenie)</label>
                              <input class="form-control" type="email"
                                     placeholder="Wprowadź przykładowe zdanie (tłuamczenie)">
                            </div>
                            <div class="form-group">
                              <label>Komentarz</label>
                              <input class="form-control" type="email" placeholder="Wprowadź komentarz">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <h2>Dodatkowe informacje o fiszce</h2>
                            <div class="form-group">
                              <label>Poziom</label>
                              <select class="form-control" style="max-width: 500px;">
                                <option>A1</option>
                                <option>A2</option>
                                <option>B1</option>
                                <option>B2</option>
                                <option>B2/C1</option>
                                <option>C1</option>
                                <option>C2</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Kategoria</label>
                              <select class="form-control" style="max-width: 500px;">
                                <option>Mieszkanie</option>
                                <option>Kuchnia</option>
                                <option>Zwierzęta</option>
                                <option>Słownictwo biznesowe</option>
                                <option>Kolory</option>
                                <option>Prawo</option>
                                <option>Informatyka</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="row justify-content-center">
                          <button type="button" class="btn btn-primary btn-success">Zapisz</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
